#pane{
    /*-fx-background-image:url("pic5.jpg");*/
    -fx-background-color:linear-gradient(#8ad9dc, #409cc7),
            linear-gradient(#d6e2f9 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
            linear-gradient(#c6bef6, #4d94e6);
    -fx-background-size: 100% 100%;
    
}
#btn{
-fx-background-color:#ffffff,
            rgba(0,0,0,0.05),
            linear-gradient(#e2d307, #f4f6d9),
            linear-gradient(#f6ff7c 0%, #f4dcbc 20%, #e68f5d 80%, #e28c45 100%),
            linear-gradient(#f5f6be, #eee4e4 #ee7777);
/*            #ffffff,
            rgba(0,0,0,0.05),
             linear-gradient(#13e0e7, #409cc7),
            linear-gradient(#7caaff 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
            linear-gradient(#c6bef6, #e4e9ee);*/
/*            linear-gradient(#be8adc, #7a40c7),
            linear-gradient(#e0d6f9 0%, #f4bceb 20%, #a45de6 80%, #8945e2 100%),
            linear-gradient(#f6bed8, #ae4de6);*/
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica Bold";
    -fx-font-size: 24px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);
}
/*
#sub{
   -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#13e0e7, #409cc7),
            linear-gradient(#7caaff 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
            linear-gradient(#c6bef6, #e4e9ee);
    -fx-background-insets: 0 ;
    -fx-background-radius: 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 16px;
}*/
