#AnchorPane{
    /*-fx-background-image:url("pic5.jpg");*/
    -fx-background-color:linear-gradient(#8ad9dc, #409cc7),
        linear-gradient(#d6e2f9 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
        linear-gradient(#c6bef6, #4d94e6);
    -fx-background-size: 100% 100%;

}
#chat{
    -fx-background-color:#ddd;
}

#btn{
    -fx-background-color:transparent;  
}
#openChat{
    -fx-background-color:transparent;  
}
/*#lab{
      -fx-text-fill:linear-gradient (red,black,red );

    -fx-font:"System Bold Italic";
            
    -fx-font-size: 80px;
-fx-fill:red;


}

#tab{
   -fx-background-image:url("1Pzpe.png"); 
   
}*/
