#pane{
    /*-fx-background-image:url("pic5.jpg");*/
    -fx-background-color:linear-gradient(#8ad9dc, #409cc7),
        linear-gradient(#d6e2f9 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
        linear-gradient(#c6bef6, #4d94e6);
    -fx-background-size: 100% 100%;

}
#log{
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#13e0e7, #409cc7),
        linear-gradient(#7caaff 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
        linear-gradient(#c6bef6, #e4e9ee);
    -fx-background-insets: 0 ;
    -fx-background-radius: 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 16px;
}

#sub{
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#13e0e7, #409cc7),
        linear-gradient(#7caaff 0%, #bcc0f4 20%, #5d91e6 80%, #457ce2 100%),
        linear-gradient(#c6bef6, #e4e9ee);
    -fx-background-insets: 0 ;
    -fx-background-radius: 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 16px;
}
